name: injection test (fixed)

on:
  issues:
    types: [opened]

jobs:
  issue-handler:
    runs-on: ubuntu-latest
    steps:
      - name: safe issue title handling
        shell: bash
        env:
          ISSUE_TITLE: ${{ github.event.issue.title }}
        run: |
          echo "new issue title is: $ISSUE_TITLE"
